.titulo
{
	text-align: center;
}

.descuento
{
	color:red;
}

.mensaje_user
{
	font-size: xx-large; 
	font-family: cursive;
	color:orange;
}

.error
{
	color:red;
}

.centrar {margin: 0 auto;}

.imagen{
	width: 150px; height: 150px;
}

table th,td
{
	text-align: center;
	vertical-align: middle;
}
